{% extends 'core/procurement/base.html' %}
{% block content %}

    <a href="{% url 'add_quotes_procurement' %}" class="btn btn-primary">Upload New Quote</a>
    <br />
    <br />
<!--Style Start 3-->
        <div class="row text-white no-gutters no-m shadow">
            <div class="col-lg-3">
                <div class="green counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-list3 s-48"></span>
                    </div>
                    <div class="sc-counter s-36">{{ total_quotes }}</div>
                    <h6 class="counter-title" > <a href="{% url 'total_quotes_procurement' %}">Total Quotes</a> </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blue1 counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-today s-48"></span>
                    </div>
                    <div class="sc-counter s-36">{{ todays_quotes }}</div>
                    <h6 class="counter-title" > <a href="{% url 'today_quotes_procurement' %}">Today's Quotes</a> </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sunfollower counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-flight_land s-48"></span>
                    </div>
                    <div class="sc-counter s-36">{{ awaiting_arrival_quotes }}</div>
                    <h6 class="counter-title" > <a href="{% url 'awaiting_arrival_quotes' %}">Awaiting Arrival</a> </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="strawberry counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-note-important2 s-48"></span>
                    </div>
                    <div class="sc-counter s-36">{{ unattended_quptes }}</div>
                    <h6 class="counter-title" > <a href="{% url 'unattended_quptes' %}">Awaiting Processing</a> </h6>
                </div>
            </div>
        </div>
        <!--Style End 3-->

{% endblock %}